* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  display: flex;
  justify-content: center;
}

#container {
  padding: 50px;
  margin-top: 100px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
@media (min-width: 600px) and (max-width: 900px){
  .wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 900px;
      }
    #container {
      margin:0;
    }
  }

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 400px;
    }
    #container {
      margin:0;
    }
}
